:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

#buttons {
    display: inline-block;
}

.button {
    margin:10px;
}

.color {
    margin: 10px;
}

#container {
    display: grid;
    max-width: 500px;
    min-height: 500px;
    margin: 2rem auto;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-cell {
    border: 1px solid #ddd;
}